{% extends 'dashbord.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashbord.css' %}">
{% endblock %}

{% block title %}
    <title>Change Password</title>
{% endblock %}
{% block main %}
<div class="main">
    <div class="">
        {% if messages %}
        {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show m-3" role="alert">
                   {{ message }}
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                   </div>
         {% endfor %}
         {% endif %}    
      </div>

      <form class="forms-sample m-3" method="POST">
        {% csrf_token %}
        <h4 class="card-title">Change Password</h4>
        <div class="form-group">
          <label for="exampleInputName1">Current Password</label>
          <input id="password" type="password"  class="form-control" name="cpwd"  required="true">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">New Password</label>
          <input id="password" type="password" name="npwd" class="form-control" required="true">
        </div>
       
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
      </form>


</div>
{% endblock %}